.itemCarrito{
    border: 1px solid rgba(191, 189, 189, 0.412);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 60%;
}

.itemTitulo{
    font-size: 30px;
    color: blue;
}