.imagen{
    margin-top: 10px;
    height: 200px;
    width: 250px;
}

.envio{
    color: red;
}

.precio{
    font-weight: bold;
}

.nombre{
    font-size: 25px;
}

.desc{
    font-size: 20px;
}

.categoria{
    font-size: 20px;
    color: blue;
}

.category{
    font-weight: bold;
    font-size: 15px;
    color: darkblue;
}