.imagenProducto{
    margin-top: 10px;
    height: 200px;
    width: 250px;
}

.envio{
    color: red;
}

.precio{
    font-weight: bold;
}

.nombre{
    font-size: 20px;
    font-weight: bold;
}

.desc{
    font-size: 15px;
}

.categoria{
    font-size: 20px;
    color: blue;
}

.category{
    font-weight: bold;
    font-size: 15px;
    color: darkblue;
}

@media only screen and (max-width: 600px){

    .imagenProducto{
        margin-top: 10px;
        width: 25%;
        height: 25%;
    }

    .nombre{
        font-size: 15px;
        font-weight: bold;
    }
    
    .desc{
        font-size: 15px;
    }
    
    .categoria{
        font-size: 15px;
        color: blue;
    }
    
    .category{
        font-weight: bold;
        font-size: 15px;
        color: darkblue;
    }

    .items{
        width: '9rem';
    }

}