.container {
    font-family: arial;
    font-size: 24px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 100%;
  }

.columna{
    margin: 0 auto;
    align-items: center;
}
